<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
</head>
<body>
    
    <div id="box">
        <h1 v-if="num%3===0">hello {{name1}} </h1>
        <h1 v-else-if="num%3===1">hello {{name2}} </h1>
        <h1 v-else>hello {{name3}} </h1>
        <button @click="num++">点击</button><br>
        <template v-if="num%3===0">
            <a href="www.baidu.com">点我去百度1</a>
            <a href="www.baidu.com">点我去百度2</a>
            <a href="www.baidu.com">点我去百度3</a>
            <a href="www.baidu.com">点我去百度4</a>
        </template>
    </div>

    <script>
        //设置为 false 以阻止 vue 在启动时生成生产提示。
        Vue.config.productionTip = false;
       
        //创建Vue实例
        new Vue({
            el: '#box',  //绑定容器，等同于el: document.getElementById("box")
            data: {
                name1:'eric',
                name2:'lyq',
                name3:'null',
                num: 0
            }
        })
    </script>
</body>
</html>

