<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
</head>
<body>
    
    <div id="box">
        姓名:{{person.name}}<br>
        年龄:{{person.age}}<br>
        <template v-if="person.sex">性别:{{person.sex}}<br></template>
        爱好:<span v-for="(h,index) of person.hobby" :key="index">{{h}}-</span>
        <button @click="addSex">点我增加属性</button>
        <button @click="updateArr">改变数组元素</button>
    </div>

    <script>
        //设置为 false 以阻止 vue 在启动时生成生产提示。
        Vue.config.productionTip = false;
       
        //创建Vue实例
        new Vue({
            el: '#box',  //绑定容器，等同于el: document.getElementById("box")
            data: {
                person:{
                    name:'eric',
                    age:31,
                    hobby:['购物','打游戏']
                }
            },
            methods: {
                addSex(){
                    //给某一个对象增长属性，对象不能是Vue实例或者Vue实例的根数据对象
                    //操作对象
                    //Vue.set(this.person,'sex','男');
                    this.$set(this.person,'sex','男');
                },
                updateArr(){
                    //给某一个对象增长属性，对象不能是Vue实例或者Vue实例的根数据对象
                    //操作数组
                    //方式1
                    //Vue.set(this.person.hobby,0,'打兵乓球');
                    //方式2 push/pop/shift/unshift/splice/sort/reverse
                    this.person.hobby.push('我想打游戏')
                }
            },
        })
    </script>
</body>
</html>

