<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
</head>
<body>
   <!-- 
    收集表单数据:
        type="text"，收集的是value的值
        type="radio" 收集的是value的值，并且需要给标签配置value值
        type="checkbox"，
            没配置value属性，则收集的是checked属性的值(true,false)，常见的为单个checkbox使用
            如果配置了value属性,则需要配置为数组形式接收，如hobbies:[],常见的为多个checkbox使用

    -->
    <div id="box">
        <form @submit.prevent="summitMethod">
            用户名:<input type="text" v-model.trim="user.uname"><br>
            密码:<input type="text" v-model="user.upass"><br>
            男<input type="radio" name="r1" v-model="user.sex" value="man">
            女<input type="radio" name="r1" v-model="user.sex" value="woman"><br>
            年龄:<input type="number" v-model.number="user.age"><br>
            爱好:
            工作<input type="checkbox" v-model="user.hobbies" value="工作">
            赚钱<input type="checkbox" v-model="user.hobbies" value="赚钱">
            养家<input type="checkbox" v-model="user.hobbies" value="养家"><br>
            个人简介<textarea v-model.lazy="user.desc"></textarea><br>
            是否同意<input type="checkbox" v-model="user.istick"><button>提交</button>
        </form>
    </div>

    <script>
        //设置为 false 以阻止 vue 在启动时生成生产提示。
        Vue.config.productionTip = false;
       
        //创建Vue实例
        new Vue({
            el: '#box',  //绑定容器，等同于el: document.getElementById("box")
            data: {
                user:{
                    uname:'',
                    upass:'',
                    sex:'man',
                    age:'',
                    hobbies:[],
                    desc:'',
                    istick:false
                }
            },
            methods: {
                summitMethod(){
                    console.log(JSON.stringify(this._data))
                    console.log(JSON.stringify(this._data.user))
                    console.log(JSON.stringify(this.user))
                }
            },
        })
        
    </script>
</body>
</html>

