/* less变量定义，严格区分大小写 */
.demo1 {
  width: 100px;
  height: 100px;
  color: red;
  font-size: 30px;
  background-color: #9e9395;
}
/* less嵌套 */
.demo2 {
  width: 100px;
  height: 100px;
  background-color: pink;
  /* 通配符选择器 */
}
.demo2 a {
  /* 后代选择器 */
  text-decoration: none;
  font-size: 20px;
}
.demo2 a::before {
  /* 伪元素选择器 */
  content: '你好';
}
.demo2 a:hover {
  /* 伪类选择器 */
  color: white;
}
.demo2 a[href] {
  /* 交集选择器 */
  display: block;
  border: 1px solid black;
}
.demo2 a:nth-child(1) {
  /* 结构伪类选择器 */
  color: aqua;
}
.demo2 > a {
  /* 子选择器 */
  background-color: red;
}
/* less运算 */
html {
  font-size: 13px;
}
.demo3 {
  /* 
        版本Bug原因，用到除法必须加./或者小括号 
        运算符两边最好有空格
        如果运算中出现多个单位，则以第一个为准
     */
  /* width: (@width / 2); */
  width: 7.69230769rem;
  height: 7.69230769rem;
  background-color: green;
}
