.demo1 {
  width: 100px;
  height: 100px;
  color: red;
  font-size: 30px;
  background-color: #9e9395;
}
.demo2 {
  width: 100px;
  height: 100px;
  background-color: pink;
  /* [href][href][href][href]{
        
        color: black;
    } */
}
.demo2 a {
  text-decoration: none;
  font-size: 20px;
}
.demo2 a::before {
  content: '你好';
}
.demo2 a:hover {
  color: white;
}
.demo2 a[href] {
  display: block;
  border: 1px solid black;
}
.demo2 a:nth-child(1) {
  color: aqua;
}
.demo2 > a {
  /*  */
  background-color: red;
}
html {
  font-size: 13px;
}
.demo3 {
  /* width: (@width / 2); */
  width: 7.69230769rem;
  height: 7.69230769rem;
  background-color: green;
}
/* .mixedCss{
    width: 100px;
    height: 100px;
    background-color: blue;
} */
/* .mixedCss(){
    width: 100px;
    height: 100px;
    background-color: red;
} */
/* .mixedCss(@w,@h,@bgc){
    width: @w;
    height: @h;
    background-color: @bgc;
} */
/* .mixedCss(@w:200px,@h:100px,@bgc:red){
    width: @w;
    height: @h;
    background-color: @bgc;
} */
/* .mixedCss(@_){
font-size: 20px;
font-weight: 800;
} */
.demo4 .box1 {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  font-size: 20px;
  font-weight: 700;
}
.demo4 .box2 {
  width: 200px;
  height: 100px;
  background-color: red;
  font-size: 20px;
  font-weight: 700;
}
/* .demo5{
    height: ~'100px + 100';
    background-color: antiquewhite;
} */
