* {
  margin: 0;
  padding: 0;
}
.box {
  width: 500px;
  height: 500px;
  border: 1px solid red;
  margin-left: 20px;
  margin-top: 20px;
}
.box .left {
  box-sizing: border-box;
  float: left;
  width: 100px;
  height: 100%;
  border-right: 1px solid red;
}
.box .left ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.box .left li {
  list-style: none;
  padding-left: 10px;
  padding-top: 20px;
}
.box .left li a {
  text-decoration: none;
}
.box .left li .active_a {
  background-color: pink;
}
.box .right {
  box-sizing: border-box;
  float: left;
  width: 400px;
  height: 100%;
}
.box .right img {
  width: 100%;
  height: 100%;
}
