<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
</head>
<body>
    
    <div id="box">
        <input type="text" v-model="keyword">
        <input type="button" @click="sortType = 0" value="原顺序">
        <input type="button" @click="sortType = 1" value="升序">
        <input type="button" @click="sortType = 2" value="降序">
        <ul>
            <!-- 遍历数组 -->
            <li v-for="(car,index) in filterCars" :key="car.id">
                {{car.name}}--{{car.price}}
            </li>
        </ul>
    </div>

    <script>
        //设置为 false 以阻止 vue 在启动时生成生产提示。
        Vue.config.productionTip = false;
       
        //创建Vue实例
        const vm = new Vue({
            el: '#box',  //绑定容器，等同于el: document.getElementById("box")
            data: {
                keyword: '',
                sortType:0,
                cars:[
                    {id:'001',name:'奥迪',price: 1800},
                    {id:'002',name:'宝马',price: 1600},
                    {id:'004',name:'宝骏',price: 4000},
                    {id:'003',name:'奔驰',price: 7800}
                ],
            },
            computed:{
                filterCars(){
                    const arr = this.cars.filter((car)=>{
                            /* indexOf 
                                "abc".ifdexOf('') 返回0 
                                "abc".ifdexOf('a') 返回0 
                                "abc".ifdexOf('d') 返回-1
                            */
                            return car.name.indexOf(this.keyword)!=-1
                        })
                        /*
                            sortType = 0 为 false
                            sortType = 1 为 true
                            sortType = 2 为 true
                        */
                        if(this.sortType==1){
                            arr.sort((obj1,obj2)=>{
                                return obj1.price - obj2.price
                            })
                        }else if(this.sortType==2){
                            arr.sort((obj1,obj2)=>{
                                return obj2.price - obj1.price
                            })
                        }
                    return arr;
                }
            }
        })
    </script>
</body>
</html>

