<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
</head>
<body>

    <div id="box">
        firstName:<input type="text" v-model="firstName"><br>
        lastName:<input type="text" v-model="lastName"><br>
        fullName:{{fullName}}<br>
        fullName:{{fullName}}<br>
        fullName:{{fullName}}<br>
        fullName:{{fullName}}<br>
        fullName:<input type="text" v-model="fullName"><br>
    </div>

    <script>
        //设置为 false 以阻止 vue 在启动时生成生产提示。
        Vue.config.productionTip = false;
       
        //创建Vue实例
        const vm = new Vue({
            el: '#box',  //绑定容器，等同于el: document.getElementById("box")
            data: {
                firstName: 'hello',
                lastName: 'world'
            },
            //实现原理借助了数据代理方法实现。
            //get函数只执行第一次，后续如果在获取就会从缓存中获取，执行效率高。
            computed:{
                fullName:{
                    get(){
                        console.log("get被调用")
                        return this.firstName+'-'+this.lastName;
                    },
                    set(value){
                        console.log("set被调用")
                        const arr = value.split("-")
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                    }
                }
            }
        })
    </script>
</body>
</html>

