/* #region main */

.main {
    /* width: 990px; */
    height: 465px;

}

/* #region left */

.main>.left {
    float: left;
    width: 940px;
    height: 465px;
    /* background-color: rgb(128, 122, 123); */
    padding-left: 220px;
    padding-top: 10px;
}

.main>.left img {
    width: 100%;
    height: 100%;
}


/* #endregion left  */


/* #region right */

.main>.right {
    float: left;
    width: 260px;
    height: 465px;
    /* background-color: rgb(31, 30, 31); */
    padding-left: 10px;
    padding-top: 10px;
}

.news_title {
    height: 34px;
    border: 1px solid #e4e4e4;
    border-bottom: 1px dotted #e4e4e4;
}

.news_title>.left {
    float: left;
    padding-top: 10px;
    padding-left: 15px;
}

.news_title>.left h4 {
    font-size: 14px;
    font-weight: 400;
}

.news_title>.right {
    float: right;
    padding-right: 15px;
    line-height: 32px;
}


.news_body {
    overflow: hidden;
    /* 解决块元素嵌套，子用到了margin-top导致的 */
    width: 250px;
    height: 131px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    padding-left: 15px;
    line-height: 12px;
}

.news_body li {
    margin-top: 12px;
    /* 条件1，先强制一行内显示文本 */
    white-space: nowrap;
    /* 条件2，超出的部分隐藏 */
    overflow: hidden;
    /* 条件3，用省略号代替超出的部分 */
    text-overflow: ellipsis;
}

.multi_function {
    /* 祖先在切断 */
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    /* background-color: rgb(19, 18, 18); */
}


.multi_function ul {
    /* 祖先像素不够，让父亲变大，把他们装下去 */
    width: 252px;
    height: 213px;
}

.multi_function ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.multi_function em {
    font-family: 'icomoon';
    display: block;
    height: 42px;
    text-align: center;
    font-size: 24px;
    color: #c81623;
    line-height: 42px;
}

.multi_function i {
    display: block;
    height: 28px;
    text-align: center;
    line-height: 20px;
}

.right .img {
    height: 75px;
    background-color: pink;
}

.right .img img {
    width: 100%;
    height: 100%;
}


/* #endregion right  */


/* #endregion main */


/* #region recommend */
.recommend {
    height: 163px;
    margin-top: 11px;
}

.recommend>.left {
    float: left;
    width: 206px;
    height: 100%;
}

.recommend>.left img {
    width: 100%;
    height: 100%;
}

.recommend>.right {
    float: left;
    width: 994px;
    height: 100%;
    background-color: #ebebeb;
}

.recommend>.right li {
    position: relative;
    float: left;
    width: 248px;
    height: 163px;
    background-color: rgb(66, 63, 64);
}

.recommend>.right li:nth-child(-n+3)::after {
    position: absolute;
    right: 0;
    top: 10px;
    content: '';
    width: 1px;
    height: 143px;
    background-color: #dddddd;
}

.recommend>.right li img {
    width: 100%;
    height: 100%;
}

/* #endregion recommend */

/* #region guess */
.guess {
    height: 261px;
    margin-top: 30px;
}

.guess .top {
    height: 28px;
}

.guess .top h4 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    padding-left: 6px;
    color: #666666;
}

.guess .top h5 {
    float: right;
    font-weight: 300;
    color: #666666;
}

.guess .top h5::after {
    font-family: 'icomoon';
    content: '\e916';
    color: #84838d;
    margin-right: 21px;
    margin-left: 9px;
}

.guess .bottom {
    overflow: hidden;
    height: 233px;
    /* background-color: #ededed; */
    border: 1px solid #ededed;
}

.guess .bottom ul {
    width: 1200px;
}

.guess .bottom li {
    position: relative;
    float: left;
    width: 200px;
    height: 233px;
    /* background-color: #84838d; */
}

.guess .bottom li:nth-child(-n+5)::after {
    content: '';
    position: absolute;
    top: 160px;
    right: 0;
    width: 1px;
    height: 62px;
    background-color: #ededed;
}

.guess .bottom img {
    width: 200px;
    height: 150px;
}

.guess .bottom p {
    word-break: break-all;
    overflow: hidden;
    width: 200px;
    height: 36px;
    margin-top: 20px;
    padding: 0 35px;
    color: #666666;
}

.guess .bottom em {
    display: block;
    width: 200px;
    height: 27px;
    font-size: 18px;
    padding-left: 35px;
    color: #df3033;
}


/* #endregion guess */


/* #region floor */

.floor {
    margin-top: 30px;
}

.floor_row {
    margin-bottom: 30px;
}

.tab_header {
    height: 32px;
    border-bottom: 2px solid #c81623;
}

.tab_header .left {
    float: left;
}

.tab_header .left h3 {

    font-size: 18px;
    color: #c81623;
}

.tab_header .right {
    float: right;
}


.tab_header .right li {
    float: left;
    line-height: 32px;
}

.tab_header .right li a {
    margin: 0 14px;
}

.tab_body {
    height: 360px;
    margin-bottom: 19px;
}

.tab_body .none{
    display: none;
}

.tab_body .row1,
.tab_body .row3,
.tab_body .row4,
.tab_body .row5 {
    float: left;
    width: 216px;
    height: 360px;
}

.tab_body .row2 {
    float: left;
    width: 336px;
    height: 360px;
}



.tab_footer {
    height: 66px;
    background-color: pink;
}

/* #endregion floor */