body {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    background-color: #fff;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    line-height: 1.5;
    color: #666;
    height: 2000px;
}

/* header */
header {
    width: 100%;
    height: 45px;
}

header ul {
    height: 100%;
    margin: 0;
    padding: 0;
}

header ul li {
    height: 100%;
    float: left;
    list-style: none;
    text-align: center;
    line-height: 45px;
    color: #fff;
}

header ul li:nth-child(1) {
    width: 8%;
    background-color: #333;

}

header ul li:nth-child(1) img {
    /*2倍图 原图60x60 宽高不能超过30x30*/
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

header ul li:nth-child(2) {
    width: 10%;
    background-color: #333;
}

header ul li:nth-child(2) img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

header ul li:nth-child(3) {
    width: 57%;
    background-color: #333;
}

header ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}

/* section */
section {
    position: fixed;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    /* position: relative; */
    background-color: #C82519;
    margin: 0 auto;
}
.section_change_location{
    top: 0px;
}
section .ls {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
    /* background-color: pink; */
}

section .ls span {
    display: inline-block;
    /*2倍图 原图40x32 所以宽高不能超过20x16 */
    width: 20px;
    height: 18px;
    margin-left: 15px;
    margin-top: 14px;
    background: url('../images/1.png') no-repeat;
    background-size: 100% 100%;

}

section .search {
    position: relative;
    height: 44px;
    margin-left: 50px;
    margin-right: 52px;
    text-align: center;
    line-height: 44px;

}

section .search input {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    outline: none;
    width: 100%;
    height: 30px;
    margin-top: 7px;
    padding-left: 70px;
    padding-top: 3px;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
}


section .search i:nth-of-type(1) {
    position: relative;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*2倍图 原图40x30 所以宽高不能超过20x15 */
    width: 20px;
    height: 15px;
    margin: 15px 8px 0 15px;
    z-index: 1;
    background: url('../images/2.png') no-repeat;
    background-size: 20px 15px;
}

section .search i:nth-of-type(1)::after {
    position: absolute;
    top: 0;
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #ddd;
    margin-left: 14px;
}

section .search i:nth-of-type(2) {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 15px;
    background: url('../images/3.png') no-repeat;
    /* 2倍图 
        原图400x400，宽高最大不能超过200x200
        background-size: 200px;  
        位置也要缩小2倍
        background-position: -80px 0;    
     */
    background-size: 200px;
    background-position: -80px 0;

    margin: 15px 0 0 45px;
    z-index: 1;

}

section .login {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    text-align: left;
    line-height: 44px;
    color: #fff;
}


/* main */

.main {
    width: 100%;
    height: 210px;
    background: url(../images/4.jpg) no-repeat;
    background-size: 100% 100%; 
    /* background-color: pink;*/
}