<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<configuration status="WARN" monitorInterval="1800">
    <Properties>
        <property name="geshi" value="%d{HH:mm:ss.SSS} [%-5level] [%thread] %c %m%n"/>
    </Properties>

    <appenders>
        <Console name="kongzhitai" target="SYSTEM_OUT">
            <PatternLayout pattern="${geshi}"/>
        </Console>
    </appenders>

    <loggers>
        <root level="DEBUG">
            <appender-ref ref="kongzhitai"/>
        </root>

        <logger name="socket" level="DEBUG" additivity="false">
            <appender-ref ref="kongzhitai"/>
        </logger>
        <logger name="io.netty.handler.logging" level="DEBUG" additivity="false">
            <appender-ref ref="kongzhitai"/>
        </logger>
    </loggers>
</configuration>